# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run 
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone@dropbox

[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir -p %h/Cloud/%i
ExecStart= \
  /usr/bin/rclone mount %i: %h/Cloud/%i \
    --config=%h/.config/rclone/rclone.conf \
    --vfs-cache-mode writes \
    --vfs-cache-max-size 4G \
    --log-level INFO \
    --log-file %h/logs/rclone-%i.log \
    --allow-other \
    --allow-non-empty
ExecStop=/bin/fusermount -u %h/Cloud/%i

[Install]
WantedBy=default.target
